.block-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-menu  a {
  margin-left: 7px;
  margin-right: 7px;
}

.paginator a, span {
  margin-left: 7px;
  margin-right: 7px;
  font-size: 16px;
  font-weight: bold;
}

.edit-button {
  float: right;
}
