<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  </head>
  <body>
    <div id="app"><%- content %></div>
    <div id="devtools"></div>
    <script type="text/javascript">window.__INITIAL_STATE__ = <%- initialState %></script>
    <script src="/assets/vendor.bundle.js"></script>
    <script src="/assets/main.bundle.js"></script>
  </body>
</html>
